:root {
    --primary-color: #8fb3ff;
    --background-color: white;
    --secondary-color: #ebf1ff;
    --shade-color: #e9ecef;
    --text-color-light: white;
    --text-color-dark: #04070c;
    --user-color: var(--primary-color);
    --friend-message: var(--secondary-color);
}
/* change defaults */
body {
    font-family: 'Epilogue', sans-serif;
    text-transform: capitalize;
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
}
button, .link {
    padding: 10px 30px;
    color: var(--text-color-light);
    outline: none;
    border: none;
    border-radius: 15px;
    background-color: var(--primary-color);
    text-transform: capitalize;
    width: fit-content;
    position: relative;
    transition-property: bottom;
    bottom: 0px;
    transition-duration: 0.1s;
    transition-timing-function: linear;
}
button:hover {
    bottom: 3px;
}
.link:hover {
    bottom: 3px;
}
::placeholder {
    color: var(--text-color) !important;
}
a {
    text-decoration: none;
    color: var(--text-color);
}
li {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
}
input {
    width: fit-content !important;
}
p {
    color: var(--text-color) !important;
}
ul {
    padding: 0;
    margin: 0px;
}
h1,h2,h3,h4 {
    color: var(--text-color);
}
/* end */

/* end */

/* sizes */
.min-h-100 {
    min-height: 100%;
}
.min-w-100 {
    min-width: 100%;
}
.min-h-100 {
    min-height: 100% !important;
}
/* end */

/* colors */
.primary-color {
    color: var(--primary-color) !important;
}
.bg-background {
    background-color: var(--background-color) !important;
}
.bg-primary {
    background-color: var(--primary-color) !important;
}
.text-color-light {
    color: var(--text-color-light) !important;
}
.text-color-dark {
    color: var(--text-color-dark) !important;
}
.bg-secondary {
    background-color: var(--secondary-color) !important;
}
/* end */

/* pseudo elements*/
.btn-hover:hover {
    box-shadow: 0px 0px 15px var(--primary-color);
}
.white-bg-on-hover{
    background: linear-gradient(to left, var(--primary-color) 50%, var(--background-color) 50%) right;
    background-size: 200% 100%;
    transition: all ease 0.5s;
}
.white-bg-on-hover:hover {
    background-position: left;
    background-color: var(--secondary-color);
    color: var(--primary-color) !important;
}
.border-b-trans::before {
    content: "";
    height: 2px;
    width: 0px;
    position: absolute;
    right: 50%;
    background-color: var(--primary-color);
    bottom: -1px;
    transition-duration: 0.1s;
    transition-timing-function: linear;
    transition-property: all;
}
.border-b-trans:hover::before {
    width: 100%;
    right: 0;
}
#sub-menu::before {
    content: "";
    width: 20px;
    height: 20px;
    top: -10px;
    right: 0px;
    background-color: var(--secondary-color);
    position: absolute;
    transform: rotate(45deg) translate(0%, 0%);
}
.pointer-hover {
    cursor: pointer;
}
/* end */

/* animation */
@keyframes go-down {
    from {top: 100%; opacity: 0;}
    to {top: 165%; opacity: 1;}
}
@keyframes go-up {
    from {top: 165%; opacity: 1;}
    to {top: 100%; opacity: 0;}
}
@keyframes go-up-down {
    0% {
        top: 0px;
    }
    50% {
        top: 25px;
    }
    100% {
        top: 0px;
    }
}
/* end */

/* specification */
.date {
    color: var(--text-color);
    font-size: 8px;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translate(-50%, 0);
    white-space: nowrap;
}
.message-value {
    margin: 0px;
}
#menu {
    width: 50%;
}
#content {
    width: 100%;
    display: flex;
}
#active-chat {
    display: none;
    border-bottom: 2px solid var(--secondary-color);
}
#resize-button {
    display: none;
    transform: rotate(180deg);
}
#message-form {
    background-color: rgb(49, 48, 48) !important;
}
#warning {
    display: none;
}
.auth-img {
    width: 500px;
}
.svg-img {
    width: 25px;
    height: 25px;
    border-radius: 6px;
    background-color: transparent;
    padding: 2px;
}
.main-border {
    border: 2px solid var(--shade-color);
}
.default-border {
    border: 2px solid var(--primary-color);
}
.bottom-border {
    border-bottom: 2px solid var(--shade-color);
}
.link, .border-radius {
    border-radius: 20px;
}
.message {
    width: fit-content;
    height: fit-content;
    padding: 10px 20px;
    color: var(--text-color);
    text-transform: none;
    max-width: 50%;
    word-wrap: anywhere;
    border-radius: 20px;
    margin: 0px 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.outline-none {
    outline: none !important;
}
.user-message {
    background-color: var(--user-color);
    align-self: flex-end;
}
.friend-message {
    background-color: var(--friend-message);
}
.footer-img {
    width: 38px !important;
    height: 38px !important;
}
.profile-img {
    width: 52px;
    height: 52px;
    padding: 0px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}
#note {
    top: -6px;
    right: 0px;
    width: 16px;
    height: 16px;
    font-size: 8px;
}

#sub-menu {
    display: none;
    width: fit-content;
    height: fit-content;
    /* top: 100%; */
    top: 165%;
    transform: translate(0%, 0%);
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
#sub-menu > li:not(:nth-last-child(1)) {
    border-bottom-color: var(--text-color);
}
.overflow-x-hidden {
    overflow-x: hidden !important;
}
/* end */

/* media queries */
@media screen and (max-width: 992px) {
    .main-layout {
        flex-direction: column-reverse;
    }
    .main-text {
        font-size: 40px;
    }
    .auth-img {
        width: 400px;
        animation-name: none !important;
    }
    #menu {
        min-width: 45%;
    }
}
@media screen and (max-width: 768px) {
    .auth-img {
        width: 300px;
    }
}
@media screen and (max-width: 576px) {
    .title {margin: 0px;}
    header {flex-direction: column;}
    /* this style for main_header file */
    .full_width_media{width: 100%; justify-content: center;}
    #menu {width: 100%; border: none;}
    #content {width: 0%; display: none;}
    #resize-button {display: block;}
}
/* end */