{% extends "authentication.html" %}

{% block info %}
    <p>please don't enter any sensitive information that had <br> been used on other websites</p>
{% endblock %}

{% block confirmation %}
    <input id="confirmation" type="text" autofocus autocomplete="off" name="confirm_password" placeholder="Confirm Password" class="form-control mb-3 bg-secondary text-color">
    <label for="" class="text-color">Enter profile picture</label>
    <input type="file" name="file" id="" class="form-control mb-1 bg-secondary text-color mb-3">
{% endblock %}