{% extends "base.html" %}

{% block title %}
    {{ app_name }}: {{ name }}
{% endblock %}

{% block header %}
    <nav>
        <ul>
            <li><button><a href="/sign-in">sign in</a></button></li>
            <li><button class="default-border"><a href="/sign-up">sign up</a></button></li>
        </ul>
    </nav>
{% endblock %}
{% block main %}
    <div class="flex flex-center-y spc-around mb-25 container-md main-layout">
        <div class="align-self-center text-center">
            <h1 class="main-text">{{ name }}</h1>
            {% block info %}{% endblock %}
            <form action="{{ path }}" method="post" class="pa-20 flex flex-column justify-center align-center text-center">
                <input type="text" autofocus autocomplete="off" name="username" placeholder="Username" class="form-control mb-3">
                <input type="text" autofocus autocomplete="off" name="password" placeholder="Password" class="form-control mb-3">
                {% block confirmation %}{% endblock %}
                <button type="submit" class="default-border">{{ name }}</button>
            </form>
        </div>
        <div class="flex justify-center"><img src="../static/images/82250.jpg" alt="" class="auth-img"></div>
    </div>
{% endblock %}