{% extends "main.html" %}

{% block friends_groups %}
    {% for friend in friends %}
        {% if friend[0].id != user_id%}
            <li id="{{ friend[0].room_id }}" class="p-2 bottom-border pointer-hover w-100">
                <img class="profile-img mr-20" style="background-image: url(../static/images/profile_images/{{ friend[0].filename }}); alt="">
                <p class="m-0 ms-4">{{ friend[0].username }}</p>
            </li>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block messages %}

{% endblock %}