{% extends "main.html" %}

{% block content %}
    <div class="bg-secondary">
        <ul>
            <li class="py-2 px-3" style="background-color: #e9ecef;">hello</li>
            <li class="py-2 px-3" style="background-color: #e9ecef;">hello</li>
            <li class="py-2 px-3" style="background-color: #e9ecef;">hello</li>
        </ul>
    </div>
    <div class="h-100 w-100 d-flex">
        <div class="h-100 w-100">
            <ul class="d-flex flex-column h-100 w-100">
                <li class="message friend-message">hello</li>
                <li class="message user-message">hello</li>
            </ul>
        </div>
    </div>
<div style="display: none;">{{ session.close() }}</div>
{% endblock %}