{% extends "base.html" %}

{% block header %}
        <div class="d-flex align-items-center full_width_media" aria-readonly="true">
            <form action="/search" method="get" class="d-flex align-items-center">
                <div class="position-relative">
                    <input type="text" class="form-control text-color bg-secondary" placeholder="Search" name="q">
                    <button class="position-absolute top-50 end-0 translate-middle svg-img p-0 transparent-backcolor" type="submit">
                        <img src="../static/images/magnifying-glass-solid-white.svg" alt="" class="svg-img svg-b">
                    </button>
                </div>
            </form>
            <div class="position-relative ms-3 svg-img">
                <button id="notifications" onclick="show_notice()" class="d-flex align-items-center justify-content-center svg-img">
                    <!--  -->
                    <div id="note" class="d-flex position-absolute align-items-center justify-content-center bg-danger text-color rounded-circle"></div>
                    <img src="../static/images/bell-svgrepo-com.svg" alt="" class="svg-img">
                </button>
                <ul id="sub-menu" class="d-flex flex-column position-absolute bg-extra abs-top-center">
                    {% for notice in notification %}
                        <li id="" class="d-flex overflow-hidden  justify-content-space-between bottom-border p-3">
                            <div class="d-flex align-items-center me-2">
                                <img class="profile-img mr-10" style="background-image: url(../static/images/profile_images/{{ notice.filename }}); alt="">
                                <span class="main-color">{{ notice.username }}</span>
                            </div>
                            <form action="/accept " method="post" aria-readonly="true">
                                <input type="hidden" name="user_id" value="{{ notice.id }}">
                                <button class="bg-primary white-color py-1 px-2 border-radius m-0 pointer-hover">accept</button>
                            </form>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <img alt="" class="profile-img ms-3" style="background-image: url(../static/images/profile_images/{{ filename }});">
        </div>
{% endblock %}

{% block left_nav %}
        <nav class="d-flex aling-items-center align-self-stretch">
            <ul>
                <li class="text-color d-flex h-100 align-items-center p-0 m-0 position-relative border-b-trans"><a href="/friends" class="py-2 px-3">friends</a></li>
                <!-- <li class="pos-relative border-b-trans"><a href="/groups" class="li-color py-10 px-20">groups</a></li> -->
            </ul>
        </nav>
{% endblock %}