{% extends "base.html" %}

{% block header %}
        <div class="right-nav">
            <form action="{{ path }}" method="get" class="search">
                <input type="text" class="form-control" placeholder="Search" name="q">
                <img src="../static/images/magnifying-glass-solid.svg" alt="" class="search-logo">
                <button class="search-logo" type="submit"></button>
            </form>
            <img src="../static/images/user-solid.svg" alt="" class="user-logo ms-5 me-4">
        </div>
{% endblock %}

{% block nav %}
        <nav>
            <ul>
                <li class="h-trans"><a href="/friends" class="li-color nav-btn">friends</a></li>
                <li class="h-trans"><a href="/groups" class="li-color nav-btn">groups</a></li>
            </ul>
        </nav>
{% endblock %}

{% block main %}
    <div class="main-content">
        <div class="menu" style="border-left: 2px solid block">
            <ul>
                {% block friends_groups %}{% endblock %}
            </ul>
        </div>
        <div class="chat">
            <div class="content">
                <ul>
                    {% block messages %}{% endblock %}
                </ul>
            </div>
            <form action="/" method="post" class="message">
                <button type="submit"><img src="../static/images/paper-plane-solid.svg" class="sent-logo" alt=""></button>
                <input type="text" placeholder="Message">
            </form>
        </div>
    </div>
{% endblock %}