{% extends "layout.html" %}

{% block main %}
    <div class="d-inline-block  vh-100" id="nav">
        <nav class="bg-primary py-4 px-5 h-100">
            <ul class="d-flex flex-column justify-content-between h-100">
                <li class="mb-2 h-auto border-bottom">
                    <ul class="d-flex flex-column w-100">
                        <li>
                            <a href="/profile" class="text-white white-bg-on-hover py-2 px-4 text-nowrap border-radius w-100 text-center d-flex mb-2"><img src="../static/images/profile-round-1342-svgrepo-com.svg" alt="" class="svg-img bg-primary me-2">Profile</a>
                        </li>
                        <li>
                            <a href="/chats" class="text-white white-bg-on-hover py-2 px-4 text-nowrap border-radius w-100 text-center d-flex"><img src="../static/images/message-regular.svg" alt="" class="svg-img bg-primary me-2">chats</a>
                        </li>
                    </ul>
                </li>
                <li class="h-auto">
                    <ul class="d-flex flex-column w-100">
                        <li>
                            <a href="/settings" class="text-white white-bg-on-hover py-2 px-4 text-nowrap border-radius w-100 text-center mb-2"><img src="../static/images/gear-solid.svg" alt="" class="svg-img bg-primary me-2">Settings</a>
                        </li>
                        <li>
                            <a href="/sign-out" class="text-white white-bg-on-hover py-2 px-4 text-nowrap border-radius w-100 text-center"><img src="../static/images/arrow-right-from-bracket-solid.svg" alt="" class="svg-img bg-primary me-2">sign out</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    {% block content %}{% endblock %}
{% endblock %}