{% extends "base.html" %}

{% block header %}
        <div class="right-nav">
            <form action="{{ path }}" method="get" class="search">
                <input type="text" class="form-control" placeholder="Search" name="q">
                <img src="../static/images/magnifying-glass-solid.svg" alt="" class="search-logo">
                <button class="search-logo" type="submit"></button>
            </form>
            <img src="../static/images/user-solid.svg" alt="" class="user-logo ms-5 me-4">
        </div>
{% endblock %}

{% block nav %}
        <nav>
            <ul>
                <li class="h-trans"><button class="li-color"><a href=""></a>friends</button></li>
                <li class="h-trans"><button class="li-color"><a href=""></a>groups</button></li>
            </ul>
        </nav>
{% endblock %}

{% block main %}
    <div class="main-content">
        <div class="menu" style="border-left: 2px solid block">
            <ul>
                <li>hello</li>
                <li>hello</li>
                <li>hello</li>
                <li>hello</li>
                <li>hello</li>
                <li>hello</li>
                <li>hello</li>
                <li>hello</li>
            </ul>
        </div>
        <div class="content"></div>
    </div>
{% endblock %}