{% extends "main_header.html" %}

{% block main %}
        <table class="w-100">
            <thead class="w-100">
                <tr class="flex spc-around w-100">
                    <th>friends</th>
                    <th>groups</th>
                </tr>
            </thead>
            <tbody class="w-100">
                <tr class="flex spc-around w-100">
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
{% endblock %}