{% extends "main_header.html" %}

{% block main %}
        <table class="w-100 box-shadow">
            <thead class="w-100">
                <tr class="d-flex w-100">
                    <th class="w-100 text-color text-center py-4 bottom-border">people</th>
                </tr>
            </thead>
            <tbody class="w-100">
                {% for user in users %}
                    <tr class="d-flex w-100 bottom-border">
                        <td class="d-flex w-50 py-3 align-items-center justify-content-between">
                            <div class="d-flex align-items-center me-4">
                                <div class="profile-img me-3" style="background-image: url(../static/images/profile_images/{{ user.filename }});"></div>
                                <div>
                                    <p class="mb-0 text-color">{{ user.username }}</p>
                                </div>
                            </div>
                            <form action="/search" method="post" aria-readonly="true" class="d-flex align-items-center">
                                {% if user.id in friends %}
                                    <input type="hidden" value="{{ user.id }}" name="remove">
                                    <button type="submit" class="bg-primary white-color">unfriend</button>
                                {% else %}
                                    <input type="hidden" value="{{ user.id }}" name="add">
                                    <button type="submit" class="bg-primary white-color">add friend</button>
                                {% endif %}
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endblock %}
{{ session.close() }}
