{% extends "main_header.html" %}

{% block main %}
        <table class="w-100 box-shadow">
            <thead class="w-100">
                <tr class="flex spc-around w-100">
                    <th class="w-100 text-center py-4 bottom-border right-border">people</th>
                    <th class="w-100 text-center py-4 bottom-border ">groups</th>
                </tr>
            </thead>
            <tbody class="w-100">
                {% for friend in friends %}
                    <tr class="flex spc-around w-100 bottom-border">
                        <td class="flex align-items-center w-100 spc-between right-border p-3">
                            <div class="flex align-items-center">
                                <div class="profile-img mr-20" style="background-image: url(../static/images/profile_images/{{ friend.filename }});"></div>
                                <div>
                                    <p class="mb-0 font-20 main-color">{{ friend.username }}</p>
                                </div>
                            </div>
                            <form action="/search" method="post" aria-readonly="true">
                                <input type="hidden" value="{{ friend.id }}" name="id">
                                <button type="submit" class="bg-primary white-color">add friend</button>
                            </form>
                        </td>
                        <td class="flex w-100 p-3"></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}