{% extends "authentication.html" %}

{% block name1 %}
    sign up
{% endblock %}

{% block name2 %}
    sign up
{% endblock %}

{% block name3 %}
    sign up
{% endblock %}

{% block info %}
    <p>please don't enter any sensitive information that has <br> been used on other websites</p>
{% endblock %}

{% block path %}
    sign_up
{% endblock %}

{% block confirmation %}
    <input type="text" autofocus autocomplete="off" name="confirm_password" placeholder="Confirm Password" class="form-control mb-3">
{% endblock %}